<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetStyleSheets( 
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme="Moderno" }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme="Moderno" }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme="Moderno" }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme="Moderno" }, 
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid, Theme="Moderno" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart, Theme="Moderno" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme="Moderno" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler, Theme="Moderno" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList, Theme="Moderno" }
        )
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )
</head>

<body>
    @RenderSection("scripts", false)
    @RenderBody()
</body>
</html>